.articles {
  width: 240px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #cccc;
  transition: all 0.3s ease;
}
.articles:hover {
  box-shadow: 0 0 10px #cccc;
}
.imageContainer {
  width: 150px;
  height: 220px;
}
.imageContainer img {
  width: 150px;
  height: 220px;
  margin-top: 10px;
  box-shadow: 0 0 10px #cccc;
}
.infoContainer {
  width: 100%;
  height: 200px;
  margin-top: 30px;
}
.infoContainer .bookName {
  direction: rtl;
  margin: 0 30px;
}
.infoContainer .author {
  direction: rtl;
  margin: 30px 30px;
}
@media (max-width: 390px) {
  .articles {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .imageContainer {
    width: 95px;
    height: 145px;
  }
  .imageContainer img {
    width: 100%;
    height: 100%;
  }
  .infoContainer {
    padding: 20px;
    padding-top: 25px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
