.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  flex-direction: row;
}
.headImg {
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}
.headImg img {
  width: 100%;
  height: 100%;
}
.headTextContent {
  direction: rtl;
  max-width: 500px;
  line-height: 1.9;
}
.main {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.mainImg {
  width: 450px;
  height: 370px;
  overflow: hidden;
  border-radius: 10px;
}
.mainImg img {
  width: 100%;
  height: 100%;
}
.mainTextContent {
  direction: rtl;
  max-width: 600px;
  line-height: 1.9;
}
